
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
        <title>Sample App</title>
        <style>
            /* Show it is fixed to the top */
            body {
                min-height: 75rem;
                padding-top: 4.5rem;
            }

            .bg-dark {
                background-color: #128275!important;
            }
            
            .container{
                padding-left:5px;
                padding-right:5px;
            }

        </style>
     
        <meta name="msapplication-TileColor" content="#128275">
        <meta name="theme-color" content="#128275">
    </head>
    <body>

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Sample App</a>
            <a href="/app1" role="button" class="btn btn-primary btn-raised">App1</a>
        </nav>


        <div class="container">
            

    <div class="row">
        <div class="col-sm-4">
            
            <div class="row">
                <div>
                    <h1>Add Record</h1>
                </div>
            </div>
            <div class="row">
                <fieldset>
                    <legend>Enter new record here</legend>
                    <form id="createForm">
                      <div class="form-group">
                        <label for="nameText" class="bmd-label-floating">Name</label>
                        <input type="text" name="name" class="form-control" id="nameText">
                        <span class="bmd-help">User Name</span>
                      </div>
                      <div class="form-group">
                        <label for="countryText" class="bmd-label-floating">Country</label>
                        <input type="text" name="country" maxlength="3" class="form-control" id="countryText">
                        <span class="bmd-help">Max 3 Characters</span>
                      </div>
                      <input type="button" value="submit" onclick="createRecord()" class="btn btn-primary btn-raised">
                    </form>
                </fieldset>
            </div>
            
            <div class="row">
                <h1>Edit Record</h1>
            </div>
            <div class="row">
                <div>
                    <fieldset>
                        <legend>Updating a record:</legend>
                        
                        <form id="updateForm">
                         
                         <div class="form-group">
                            <label for="recSelect">Select Record</label>
                            <select name="id" class="form-control" id="recSelect">
                              
                            </select>
                          </div>
                            
                          <div class="form-group">
                            <label for="nameText" class="bmd-label-floating">Name</label>
                            <input type="text" name="name" class="form-control" value="" id="nameText">
                            <span class="bmd-help">User Name</span>
                          </div>
                          <div class="form-group">
                            <label for="countryText" class="bmd-label-floating">Country</label>
                            <input type="text" name="country" maxlength="3" value="" class="form-control" id="countryText">
                            <span class="bmd-help">Max 3 Characters</span>
                          </div>
                          <input type="button" value="Update" onclick="updateRecord()" class="btn btn-primary btn-raised">
                        </form>
                    </fieldset>
                </div>
            </div>
                
        </div>
        <div class="col-sm-8">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th></th><th>Name</th><th>Country</th><th>Date Created</th><th>Controls</th>
                    </tr>
                </thead>
                <tbody id="list">
               
                    
                </tbody>
            </table>
        </div>
    </div>

        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
   

        <script>
            //use localhost if flask app running on local machine
            // let host = "https://extra-snickdx.c9users.io:8080";
            let host = "https://snick-sample.herokuapp.com";
            // let host = "localhost:5000"
            
            //The following functions Perfoms xml http requests
            //Functions for posting data, putting data, getting data and deleting data
            //The callback parameters are functions which handle the response of the request refer to callbackhell slack channel
            
            function ajaxPost(url, data, callback){
                let xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {
                    callback(JSON.parse(this.responseText));//IMPORTANT json string must be convertd to js object
                  }
                };
                xhr.open("POST", url);
                xhr.setRequestHeader("Content-type", "application/json");
                xhr.send(JSON.stringify(data));//IMPORTANT json data must be stringified
            }
            
            function ajaxPut(url, data, callback){
                let xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {
                    callback(JSON.parse(this.responseText));//IMPORTANT json string must be convertd to js object
                  }
                };
                xhr.open("PUT", url);
                xhr.setRequestHeader("Content-type", "application/json");
                xhr.send(JSON.stringify(data));//IMPORTANT json data must be stringified
            }
            
            function ajaxGet(url, callback){
                let xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {
                    callback(JSON.parse(this.responseText));//any function passed will be called with the requestd data passed to it
                  }
                };
                xhr.open("GET", url);
                xhr.send();
            }
            
            function ajaxDelete(url, callback){
                let xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {
                    callback(JSON.parse(this.responseText));
                  }
                };
                xhr.open("DELETE", url);
                xhr.send();
            }
            
            function deleteRecord(id){
                ajaxDelete(`${host}/api/persons/${id}`, loadRecords);//delete and reload data
            }
            
            function clearForm(id){
                let form = document.querySelector(`#${id}`);
                for(let key in form.elements)
                    form.elements[key]="";
            }
            
            //pulls data from form and performs ajax put request sending data as json
            function updateRecord(){
                
                let form = document.querySelector("#updateForm");
            	let record = {
            		id: form.elements['id'].value,
            		name: form.elements['name'].value,
            		country: form.elements['country'].value
            	};
            	clearForm("updateForm");
                ajaxPut(`${host}/api/persons/${record.id}`, record, loadRecords);//send data and redo templating to reflect changes
            }
            
            //pulls data from form and performs ajax post request sending data as json
            function createRecord(){
                let form = document.querySelector("#createForm");
            	let record = {
            		name: form.elements['name'].value,
            		country: form.elements['country'].value
            	};
            	clearForm("createForm");
                ajaxPost(`${host}/api/persons`, record, loadRecords);//send data and redo templating to reflect changes
            }
            
            //function does all templating after data is retrieved form database
            //introduced in lab4
            function recordsHandler(records){
                let tableHTML = "";
                let selectHTML = "";
                
                for(let rec of records){
                     tableHTML+=`<tr>
                                    <td>${rec.id}</td>
                                    <td>${rec.name}</td>
                                    <td>${rec.country}</td>
                                    <td>${rec.date_created}</td>
                                    <td>
                                        <button class="btn btn-primary" onclick="deleteRecord(${rec.id})">Delete</button>
                                    </td>
                                </tr>`;
                    selectHTML+=`<option>${rec.id}</option>`;
                }
                //JS templating
                document.querySelector("#recSelect").innerHTML = selectHTML;
                document.querySelector("#list").innerHTML = tableHTML;
            }
            
            function loadRecords(){
                console.log("loading records");
                ajaxGet(`${host}/persons`, recordsHandler);
            }
            
            
            window.addEventListener('load', function() {
                console.log('All assets are loaded');
                loadRecords();//load our records
            
            })
            
        </script>
    </body>
</html>